/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Prompt:wght@500&display=swap');
/* common styles */
body{
    font-family: 'Poppins', sans-serif;
    margin: 30px;
    padding: 15px;
}
*{
    box-sizing:border-box
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
}
.col-1{
    display: flex;
}


.influencer{
    display: flex;
    justify-content: space-between;
    height: 500px;
    width: 1000px;
    
    margin-bottom: 100px;
}
button{
    background-color: indianred;
    width: 130px;
    height: 30px;
    border-radius: 5px;
    transition: width 0.5s;
}
button:hover{
    width: 160px;
    align-items: center;
}



#camera{
    display: flex;

    left: 130px;
    /* display: flex; */
}


    

    

.collection{
    align-items: center;
    justify-content: center;
    /* border: 1px; */
    /* border-color: solid,rosybrown; */
   

}


.camera-pic {
    display: grid;
    grid-template-columns: auto auto auto;
    
    row-gap: 5px;
    column-gap: 5px;
    margin-left: 200px;
  
}
.popular{
   text-align: center;
}

.more{
    position: relative;
    left: 1000px;
    color: indianred;
}
.footer{
    display: flex;
    justify-content: center;
    background-color: mediumblue;
    width: 1300px;
    margin-right: 50px;
    padding-right: 50px;
    
}
.media{
    display: grid;
    grid-template-columns: auto
    auto auto auto;

    column-gap: 10px;
    position: relative;
    top: 60px;
    right: 185px;
    align-items: center;

}
#foot{
    position: relative;
    top: 20px;
    margin-left: 25px;
   
}
.right{
    position: relative;
    top: -15px;
    margin-left: 85px;
}

/*..................
Media Queries 
....................*/

/* Mobile Devices */
@media only screen and (max-width:668px) {
    *{
        box-sizing:border-box
    }
    .header{
        background-color: azure;
        width: 100%;
        
}
    .influencer{
        width: 100%;
        background-color: cornsilk;
        flex-direction: column;
        /* margin-bottom: 10px; */
    }
    .camera-pic{
        display:grid;
        grid-template-columns: auto;
        justify-content: 
        center;
        align-items: center;
       
        column-gap: 10px;
        height: 100%;
      
       /* margin-bottom: 100px; */
    }
        .popular{
            position: relative;
            margin-bottom: 80px;
        }
    .collection{
        margin-top: 50px;
    }
    .col-1{
        display: flex;
    }

}

/* ##Device = Tablets, Ipads (portrait) */
  /* ##Screen = B/w 768px to 1024px */


@media (min-width: 768px) and (max-width: 1024px) {
  @media only screen and (max-width:668px) {
    *{
        box-sizing:border-box
    }
    .header{
        background-color: azure;
        width: 100%;
        
}
    .influencer{
        width: 100%;
        background-color: cornsilk;
        flex-direction: column;
        /* margin-bottom: 10px; */
    }
    .camera-pic{
        display:grid;
        grid-template-columns: auto;
        justify-content: 
        center;
        align-items: center;
       
        column-gap: 10px;
        height: 100%;
      
       /* margin-bottom: 100px; */
    }
        .popular{
            position: relative;
            margin-bottom: 80px;
        }
    .collection{
        margin-top: 50px;
    }
    .col-1{
        display: flex;
    }

}
  
  
}









